<head>
  <script type="text/javascript" src="js/wc.js"></script>
  <script src="js/jquery.js"></script>
  <!-- REMOVE THIS when online -->
  <script src="js/bootstrap.min.js"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <style>
    .tooltip-inner {
      white-space:pre-wrap;
      max-width:500px;
    }
  </style>
</head>
<body>
  <div>
    <div class="panel panel-primary well">
      <div class="panel-heading">
        <h2>Welcome to The Machine</h2>
      </div>
      <div class="panel-body">
        <small>
          The Machine will count word frequency in any text.
        </small>
        <small>
          The Machine works hard to protect your content. It never communicates
          with any server while working with your content. Period.  This means
          that you do not need to be worried that I or anyone else has access
          to the content you paste in here. Ever.
        </small>
        <small>
          However, if you refresh this page you will have to start from scratch.
        </small>
        <small>A few key concepts you'll want to understand:</small>
        <ul>
          <li>
            <small><em><strong>Word exclusion list</strong></em>
            -- These are words that won't be counted. The Machine has a few it
            already knows about and you can add your own.</small>
          </li>
          <li>
          <small><em><strong>Word count limit</strong></em>
            -- The Machine will only report on words that appear at least this many times.</small>
          </li>
        </ul>
        <small>
          Once everything is configured, simply paste your content into the
          textarea in the final section and push the button. The Machine will
          immediately process your text and when it has finished it will pop up a
          lightbox with your results.
        </small>
        <small>
          This tool is licensed under the terms of the MIT license (fine print at bottom).
        </small>

      </div>
    </div>
    <!-- =================================== -->
    <div class="panel panel-primary well">
      <div class="panel-heading">
        <span>Configure The Machine</span>
      </div>
      <div class="panel-body">
          Word count limit: &nbsp; <input type="text" id="limit" value="5" size="3">
          <br/>
          <br/>

          <div class="panel-group" id="excludes">
            <div class="panel panel-default">
              <div class="panel-body">
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="exclude-articles" value="yes"> &nbsp;<span>Exclude articles?</span>
                <span id='ea-tt' title="" data-placement="right" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </span>
                <br/>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="exclude-pronouns" value="yes"> &nbsp;<span>Exclude pronouns?</span>
                <span id='ep-tt' title="" data-placement="right" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </span>
                <br/>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="exclude-conjunctions" value="yes"> &nbsp;<span>Exclude conjunctions?</span>
                <span id='ec-tt' title="" data-placement="right" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </span>
                <br/>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="exclude-prepositions" value="yes"> &nbsp;<span>Exclude simple prepositions?</span>
                <span id='epr-tt' title="" data-placement="right" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </span>
                <br/>
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="exclude-beverb" value="yes"> &nbsp;<span>Exclude to be verbs?</span>
                <span id='eb-tt' title="" data-placement="right" data-toggle="tooltip">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </span>
              </div>
            </div>


          <br/>
          Also ignore these words:
          <br/>
          <br/>
          <textarea id="user-excludes" rows="5" cols="50"></textarea>
      </div>
    </div>
    <!-- =================================== -->
    <div class="panel panel-primary well">
      <div class="panel-heading">
        <span>Feed The Machine</span>
      </div>
      <div class="panel-body">
        <span>Slap your content in here:</span>
        <br/>
        <br/>
        <textarea id="user-content" rows="10" cols="150"> </textarea>
        <br/>
        <br/>
        <button class="btn btn-sm btn-success" onclick="start()">Do your thing, Machine</button>
      </div>
    </div>
    <div class="panel panel-primary well">
      <div class="panel-heading">
        <span>The MIT License</span>
      </div>
      <div class="panel-body">
        <p>
          Copyright (c) 2014 JD Kaplan
        </p>
        <small>
          Permission is hereby granted, free of charge, to any person obtaining
          a copy of this software and associated documentation files (the
          "Software"), to deal in the Software without restriction, including
          without limitation the rights to use, copy, modify, merge, publish,
          distribute, sublicense, and/or sell copies of the Software, and to
          permit persons to whom the Software is furnished to do so, subject to
          the following conditions:
        </small>
        <small>
          The above copyright notice and this permission notice shall be
          included in all copies or substantial portions of the Software.
        </small>
        <small>
          the software is provided "as is", without warranty of any kind,
          express or implied, including but not limited to the warranties of
          merchantability, fitness for a particular purpose and
          noninfringement. in no event shall the authors or copyright holders be
          liable for any claim, damages or other liability, whether in an action
          of contract, tort or otherwise, arising from, out of or in connection
          with the software or the use or other dealings in the software.
        </small>
      </div>
    </div>
  </div>
  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5 class="modal-title" id="myModalLabel">The Machine discovered these words...</h5>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-condensed table-bordered" id="results-table">
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $( document ).ready(function() {
    $("#ea-tt").attr("title", WordCounter.ARTICLES_EXCLUDES.join(", "));
    $("#ea-tt").tooltip();
    $("#ep-tt").attr("title", WordCounter.PRONOUN_EXCLUDES.join(", "));
    $("#ep-tt").tooltip();
    $("#ec-tt").attr("title", WordCounter.SIMPLE_CONJUNCTION_EXCLUDES.join(", "));
    $("#ec-tt").tooltip();
    $("#epr-tt").attr("title", WordCounter.PREPOSITION_EXCLUDES.join(", "));
    $("#epr-tt").tooltip();
    $("#eb-tt").attr("title", WordCounter.BEING_VERB_EXCLUDES.join(", "));
    $("#eb-tt").tooltip();
  });
</script>