<head>
  <script type="text/javascript" src="js/wc.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <style>
    fieldset {
      width: 50%;
      color:steelblue;
      border: 3px solid steelblue;
      -moz-border-radius:5px;
      border-radius: 5px;
      -webkit-border-radius: 6px;
    }
    .config-section {
      margin: 10px;
    }
    .config-row {
      padding: 5px;
    }
    .content-section {
      margin: 10px;
    }
    .content-row {
      padding: 5px;
    }
    textarea {
      width:100%;
      height:100px;
      border: 1px solid steelblue;
      -moz-border-radius:5px;
      border-radius: 5px;
      -webkit-border-radius: 6px;
    }
    input {
      width: 50px;
      text-align:right;
      padding-right: 7px;
      border: 1px solid steelblue;
      -moz-border-radius:5px;
      border-radius: 5px;
      -webkit-border-radius: 6px;
    }
    button {
      margin:10px;
      float:right;
      border: 1px solid steelblue;
      -moz-border-radius:5px;
      border-radius: 5px;
      -webkit-border-radius: 6px;
    }
    .buttonset {
      width:50%;
    }
  </style>
</head>
<body>
<h2>Word frequency counter</h2>
<form action="#">
  <fieldset>
    <legend>configuration</legend>
    <div class="config-section">
      <div class="config-row">
        <input type="checkbox" id="use-builtin-excludes">
        <span>Use builtin excludes? &nbsp;</span>
      </div>
      <div class="config-row">
        <span>Lower limit: &nbsp;</span>
        <input id="limit" value="5">
      </div>
      <div class="config-row">
        <div class="config-row">
          <span>Words to exclude:</span>
        </div>
        <div class="config-row">
          <textarea id="user_excludes"> </textarea>
        </div>
      </div>
    </div>
  </fieldset>
  <br />
  <fieldset>
    <legend>user content</legend>
    <div class="content-section">
      <div class="content-row">
        <span>Put your content here:</span>
      </div>
      <div class="content-row">
        <textarea id="user-content"></textarea>
      </div>
    </div>
  </fieldset>
  <div class="buttonset">
    <button onclick="start()">count 'em</button>
  </div>
</form>
</body>

